.navi-menu {
  margin-bottom: var(--lumo-space-s);
  margin-top: var(--lumo-space-s);

}
.projectspace-label{
  color: #fff;
  border-bottom: 1px solid #96c0cd;
  padding: 5px;
  font-weight: 600;
  font-family: sans-serif;
}