html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    background:transparent
}
a:active,a:hover{
    outline:0
}
abbr[title]{
    border-bottom:1px dotted
}
b,strong{
    font-weight:bold
}
dfn{
    font-style:italic
}
h1{
    font-size:2em;
    margin:.67em 0
}
mark{
    background:#ff0;
    color:#000
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sup{
    top:-0.5em
}
sub{
    bottom:-0.25em
}
img{
    border:0
}
svg:not(:root){
    overflow:hidden
}
figure{
    margin:1em 40px
}
hr{
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0
}
pre{
    overflow:auto
}
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
button,input,optgroup,select,textarea{
    color:inherit;
    font:inherit;
    margin:0
}
button{
    overflow:visible
}
button,select{
    text-transform:none
}
button,html input[type="button"],input[type="reset"],input[type="submit"]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]{
    cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}
input{
    line-height:normal
}
input[type="checkbox"],input[type="radio"]{
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
    height:auto
}
input[type="search"]{
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
    -webkit-appearance:none
}
fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:.35em .625em .75em
}
legend{
    border:0;
    padding:0
}
textarea{
    overflow:auto
}
optgroup{
    font-weight:bold
}
table{
    border-collapse:collapse;
    border-spacing:0
}
td,th{
    padding:0
}
 .u-pullRight{
    float:right
}
.u-pullLeft{
    float:left
}
.caret{
    height:0;
    width:0;
    display:inline-block;
    border-top:4px solid #777;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    margin-left:2px;
    vertical-align:middle
}
.u-cf:before,.u-cf:after{
    content:" ";
    display:table
}
.u-cf:after{
    clear:both
}
.u-table{
    display:table!important
}
.u-tableCell{
    display:table-cell!important
}
.u-tableRow{
    display:table-row!important
}
.u-alignMiddle{
    vertical-align:middle!important
}
.u-hiddenVisually{
    position:absolute!important;
    overflow:hidden!important;
    width:1px!important;
    height:1px!important;
    padding:0!important;
    border:0!important;
    clip:rect(1px,1px,1px,1px)!important
}
.u-appLauncherFrame{
    display:none;
    visibility:hidden
}
.Icon--logo img{
   
    vertical-align:text-bottom
}
.Icon--close:before{
    content:'x';
    font-size:14px
}
.Push-2fa-button{
    margin-bottom:8px
}
 html{
    font-family:sans-serif;
    color:#292f33
}
a{
    color:#55acee;
    text-decoration:none
}
p{
    font-size:14px;
    line-height:18px
}
ul{
    line-height:1.5
}
 .PageHeader{
    font-size:28px;
    font-weight:200;
    color:#66757f;
    margin-bottom:36px
}
.PageHeader.is-errored{
    color:#dd2e44
}
@media screen and (max-width:590px){
    .PageHeader{
        font-size:21px;
        margin-bottom:18px
    }
}
 .PageContainer{
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background:white;
    max-width:590px;
    margin:10px auto 20px
}
@media screen and (max-width:590px){
    .PageContainer{
        width:100%;
        padding:10px 0 0;
        margin:0
    }
}
 .Section{
    padding:36px 0
}
.Section ul{
	    color: #215e78;
}
.Section .is-errored{
    color:#c33
}
.Section-footer{
    padding-top:18px
}
.Section-footer a{
    font-size:13px
}
.Section-footer .Button{
    line-height:inherit;
    margin:15px 0
}
@media screen and (max-width:590px){
    .Section{
        padding:15px 12px 0
    }
}
 .Form label{
    display:block;
    font-size:14px;
    font-weight:bold;
    margin-top:.5em
}
.Form-textbox{
    width:300px;
    padding:7px 7px 5px;
    border-radius:3px;
    line-height:20px;
    border:1px solid #ccd6dd;
    outline:0;
    font-size:14px;
    margin:5px 10px 5px 0
}
.Form-select{
    width:314px;
    height:34px;
    background-color:#fff;
    border-radius:3px;
    margin-bottom:5px;
    border:1px solid #ccd6dd
}
.Form-textbox::-webkit-input-placeholder{
    color:#aab8c2
}
.Form-textbox::-moz-placeholder{
    color:#aab8c2
}
.Form-textbox:-ms-input-placeholder{
    color:#aab8c2
}
.Form-textbox:focus{
    box-shadow:0 0 0 1px #99cdf4;
    border-color:#99cdf4
}
.Form-textbox.is-errored{
    box-shadow:0 0 0 1px #dd2e44;
    border:1px solid #dd2e44
}
.Form-textbox.is-success{
    box-shadow:0 0 0 1px #77b255;
    border:1px solid #77b255
}
.Form-textbox[disabled],.Form-textbox.is-disabled{
    background-color:#f5f8fa
}
.Form-message{
    font-size:13px;
    color:#66757f
}
.Form-message span{
    display:none
}
.Form-message.is-errored{
    color:#c33
}
.Form-message.is-success:before{
    content:'\2713';
    font-size:14px
}
.Form-message.is-success{
    color:#77b255
}
.Form input[type="submit"]{
    display:block;
    margin-top:25px
}
.Form input[type="submit"].Button--link{
    margin-top:10px
}
.Form input[type="radio"],.Form input[type="checkbox"]{
    margin-right:3px
}
.Form-radioList label{
    font-weight:normal;
    display:inline-block;
    margin-top:0
}
.Form-checkbox label{
    font-weight:normal
}
.Form-message .Icon{
    font-size:10px
}
@media screen and (max-width:590px){
    .Form-message{
        margin-top:5px;
        display:block
    }
    .Form input[type=email],.Form input[type=tel],.Form input[type=password],.Form input[type=text]{
        width:250px
    }
    .Form-select{
        width:264px
    }
}
.input-prepend,.input-append{
    font-size:0
}
.input-prepend .add-on,.input-append .add-on{
    display:inline-block;
    width:auto;
    height:18px;
    min-width:16px;
    padding:4px 5px;
    font-size:13px;
    font-weight:normal;
    line-height:18px;
    text-align:center;
    text-shadow:0 1px 0 #fff;
    vertical-align:middle;
    background-color:#f5f5f5;
    border:1px solid #ccc
}
.input-prepend .add-on{
    height:20px;
    line-height:20px;
    border-radius:3px 0 0 3px;
    margin:0 -28px 0 0;
    z-index:2;
    position:relative
}
.input-append .add-on{
    margin-left:-1px;
    border-radius:0 3px 3px 0
}
.input-prepend input{
    position:relative;
    font-size:13px;
    line-height:20px;
    vertical-align:middle;
    border-radius:0 3px 3px 0;
    padding-left:30px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    height:30px;
    z-index:0
}
.input-prepend input:focus{
    z-index:1
}
.add-on+input[type=text]{
    width:250px
}
@media screen and (max-width:300px){
    .add-on+input[type=text]{
        width:90%
    }
}
.Form-message.u-block{
    display:inline-block
}
 .TopNav{
    min-height:40px;
    box-shadow:0 0 3px #aaa;
    border-bottom:1px solid #e1e8ed;
    border-bottom:0 solid rgba(0,0,0,0.25);
    color:#66757f;
    font-size:14px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    position:relative;
    z-index:1;
    background-image: linear-gradient(#10708e, #024f67);
    background-image: -webkit-linear-gradient(#10708e, #024f67);
    padding: 0 15%;
}
.TopNav--container{
    max-width:590px;
    margin:0 auto;
    position:relative;
    top:1px
    padding-top: 10px;
    padding-bottom: 10px;
}
.TopNav--container>select,.TopNav--container>ul,.TopNav--container>.TopNav-title,.TopNav--container>.Icon--logo{

}
.TopNav .Icon--logo{
    margin-right: 6px;
    color: #ffffff;
    padding-top: 10px;
}
.TopNav ul{
    list-style-type:none;
    margin:0
}
.TopNav li{
    display:inline-block
}
.TopNav-title{
    font-size: 16px;
    color: #ffffff;
    padding-top: 15px;
}
.TopNav-languageSelector .Dropdown-menu{
    width:250px;
    font-size:12px
}
.TopNav-languageSelector select{
    width:125px
}
@media screen and (max-width:590px){
    .TopNav{
        padding:0 12px
    }
}
 .Button{
    font-size:14px;
    font-weight:bold;
    color:white;
    padding:9px 18px;
    border:1px solid #3b94d9;
    border-radius:3px;
    background-color:#50a5e6;
    outline:0;
    display:inline-block
}
.Button-severe{
    background-color:#dd2e44;
    border-color:#be1931
}
.Button.disabled,.Button[disabled]{
    opacity:.5;
    -ms-filter:"alpha(opacity=50)"
}
.Button--link{
    border:0;
    background:transparent;
    text-decoration:underline;
    color:#777;
    text-shadow:white 0 1px 0;
    font-size:12px;
    line-height:16px;
    margin-top:10px;
    margin-bottom:10px
}
 .Dropdown{
    position:relative
}
.Dropdown-menuContainer{
    position:relative;
    top:-1px
}
.Dropdown-menu{
    position:absolute;
    top:100%;
    left:0;
    display:none;
    padding:8px 0;
    background-color:#fff;
    border:1px solid #e1e8ed;
    border-radius:4px;
    box-shadow:0 5px 10px rgba(0,0,0,0.2)
}
.Dropdown--right{
    left:auto;
    right:-18px
}
.Dropdown-caretContainer{
    position:absolute;
    top:-10px;
    left:12px;
    width:18px;
    height:10px;
    float:left;
    overflow:hidden
}
.Dropdown--right .Dropdown-caretContainer{
    left:auto;
    right:12px
}
.Dropdown-caretInner,.Dropdown-caretOuter{
    position:absolute;
    left:0;
    top:0;
    display:inline-block;
    margin-left:-1px
}
.Dropdown-caretOuter{
    border-bottom:10px solid #aaa;
    border-bottom-color:rgba(0,0,0,0.1);
    border-left:10px solid transparent;
    border-right:10px solid transparent
}
.Dropdown-caretInner{
    top:1px;
    left:1px;
    border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-bottom:9px solid #fff;
    border-bottom-color:rgba(255,255,255,0.98)
}
.Dropdown-menu li,.Dropdown-menu a,.Dropdown-menu button{
    display:block;
    color:#66757f
}
.Dropdown-menu a,.Dropdown-menu button{
    padding:2px 20px;
    white-space:nowrap;
    background:transparent;
    border:0
}
.Dropdown-menu li:hover{
    background-color:#66757f
}
.Dropdown-menu li:hover a,.Dropdown-menu li:hover button{
    text-decoration:none;
    color:#fff
}
.Dropdown:hover .Dropdown-menu,.Dropdown.MobileHoverEffect.hover_effect .Dropdown-menu{
    display:block
}
.Dropdown.MobileHoverEffect .Dropdown-menu{
    display:none
}
.Dropdown--twoColumn li{
    float:left;
    width:50%
}
.MobileHoverEffect{
    -webkit-user-select:none;
    -webkit-touch-callout:none
}
 html .ResponsiveLayout--Night{
    background-color:#1b2836;
    color:#fff
}
.ResponsiveLayout--Night .PageContainer{
    background-color:#1b2836
}
.ResponsiveLayout--Night .TopNav{
    background-color:#243447
}
.ResponsiveLayout--Night textarea,.ResponsiveLayout--Night input[type=email],.ResponsiveLayout--Night input[type=tel],.ResponsiveLayout--Night input[type=password],.ResponsiveLayout--Night input[type=text],.ResponsiveLayout--Night input[type=number],.ResponsiveLayout--Night .Form-select{
    background-color:#141d26
}
 .LinkList li{
    margin-bottom:30px
}
.LinkList a{
    font-size:18px;
    margin-bottom:10px
}
.LinkList p{
    font-size:14px;
    line-height:18px;
    margin:0
}
 .UserHeader{
    font-size:13px;
    line-height:1.25;
    margin-bottom:36px;
    overflow:hidden;
    padding-top:0
}
.UserHeader img{
    height:48px;
    width:48px;
    border-radius:4px;
    float:left;
    margin-right:10px
}
.UserHeader b{
    font-size:14px
}
.UserHeader-details{
    margin-top:3px
}
.UserHeader-name{
    color:#8899a6
}
@media screen and (max-width:590px){
    .UserHeader{
        margin:-3px 0 12px
    }
    .UserHeader img{
        height:38px;
        width:38px
    }
    .UserHeader-details{
        margin-top:4px
    }
}
 .PasswordStrength--weak .Form-message{
    color:#ffcc4d
}
.PasswordStrength--weak .PasswordStrength-meter{
    background-color:#ffcc4d;
    width:25%
}
.PasswordStrength--good .Form-message{
    color:#3e721d
}
.PasswordStrength--good .PasswordStrength-meter{
    background-color:#3e721d;
    width:50%
}
.PasswordStrength--strong .Form-message{
    color:#5c913b
}
.PasswordStrength--strong .PasswordStrength-meter{
    background-color:#5c913b;
    width:75%
}
.PasswordStrength--verystrong .Form-message{
    color:#77b255
}
.PasswordStrength--verystrong .PasswordStrength-meter{
    background-color:#77b255;
    width:100%
}
.PasswordStrength--tooshort .Form-message,.PasswordStrength--tooweak .Form-message,.PasswordStrength--obvious .Form-message{
    color:#be1931
}
.PasswordStrength-meterContainer{
    position:relative;
    display:inline-block;
    left:-25px;
    height:8px;
    width:65px;
    margin-left:-70px;
    border-radius:5px;
    background:#e1e8ed;
    overflow:hidden;
    visibility:hidden
}
.PasswordStrength input:focus+.PasswordStrength-meterContainer{
    visibility:visible
}
.PasswordStrength input[type=password]{
    padding-right:85px;
    width:219px
}
.PasswordStrength-meter{
    position:absolute;
    height:100%;
    left:0
}
@media screen and (max-width:590px){
    .PasswordStrength input[type=password]{
        width:169px
    }
}
 .Avatar{
    -moz-force-broken-image-icon:1;
    display:block;
    border-radius:50%
}
.Avatar--size48{
    height:48px;
    width:48px
}
.Avatar--size32{
    height:32px;
    width:32px
}
 .EdgeButton,.EdgeButton:visited{
    border-radius:100px;
    box-shadow:none;
    cursor:pointer;
    font-size:14px;
    font-weight:bold;
    line-height:20px;
    padding:6px 16px;
    position:relative;
    text-align:center;
    white-space:nowrap
}
.EdgeButton:active,.EdgeButton:focus,.EdgeButton:hover{
    text-decoration:none
}
.EdgeButton--xsmall{
    font-size:12px;
    line-height:16px;
    padding:2px 8px
}
.EdgeButton--small{
    font-size:12px;
    line-height:16px;
    padding:4px 12px
}
.EdgeButton--medium{
    font-size:14px;
    line-height:20px;
    padding:6px 16px
}
.EdgeButton--large{
    font-size:18px;
    line-height:24px;
    padding:12px 20px
}
.EdgeButton--xlarge{
    font-size:18px;
    line-height:32px;
    padding:16px 32px
}
.EdgeButton--primary{
    background-color:#1da1f2;
    border:1px solid #1da1f2;
    color:#fff
}
.EdgeButton--primary:hover{
    background-color:#006dbf;
    border-color:#006dbf;
    color:#fff
}
.EdgeButton--primary:focus{
    border-color:#1da1f2;
    box-shadow:0 0 0 2px #fff,0 0 0 4px #71c9f8;
    color:#fff
}
.EdgeButton--primary:active{
    background-color:#006dbf;
    border-color:#006dbf;
    box-shadow:0 0 0 2px #fff,0 0 0 4px #1da1f2;
    color:#fff
}
.EdgeButton--primary.disabled,.EdgeButton--primary[disabled],.EdgeButton--primary[disabled]:hover,.EdgeButton--primary[aria-disabled=true]{
    opacity:.3;
    -ms-filter:"alpha(opacity=30)";
    -ms-filter:"alpha(opacity=30)"
}
.EdgeButton--secondary{
    background-color:#fff;
    border:1px solid #1da1f2;
    color:#1da1f2
}
.EdgeButton--secondary:hover{
    background-color:#eaf5fd;
    color:#1da1f2
}
.EdgeButton--secondary:focus{
    box-shadow:0 0 0 2px #fff,0 0 0 4px #71c9f8;
    color:#1da1f2;
    outline:0
}
.EdgeButton--secondary:active{
    background-color:#006dbf;
    border-color:#006dbf;
    box-shadow:0 0 0 2px #fff,0 0 0 4px #1da1f2;
    color:#fff
}
.EdgeButton--secondary.disabled,.EdgeButton--secondary[disabled],.EdgeButton--secondary[disabled]:hover,.EdgeButton--secondary[aria-disabled=true]{
    background-color:#fff;
    opacity:.3;
    -ms-filter:"alpha(opacity=30)";
    -ms-filter:"alpha(opacity=30)"
}
.EdgeButton--tertiary{
    background-color:#fff;
    border:1px solid #66757f;
    color:#66757f
}
.EdgeButton--tertiary:hover{
    background-color:#f5f8fa;
    color:#66757f
}
.EdgeButton--tertiary:focus{
    box-shadow:0 0 0 2px #fff,0 0 0 4px #ccd6dd;
    color:#66757f
}
.EdgeButton--tertiary:active{
    background-color:#f5f8fa;
    box-shadow:0 0 0 2px #fff,0 0 0 4px #66757f;
    color:#66757f
}
.EdgeButton--tertiary.disabled,.EdgeButton--tertiary[disabled],.EdgeButton--tertiary[disabled]:hover,.EdgeButton--tertiary[aria-disabled=true]{
    background-color:#f5f8fa;
    border-color:#f5f8fa;
    opacity:.3;
    -ms-filter:"alpha(opacity=30)";
    -ms-filter:"alpha(opacity=30)"
}
.EdgeButton--danger{
    background-color:#e0245e;
    border:1px solid #e0245e;
    color:#fff
}
.EdgeButton--danger:hover{
    background-color:#ac002b;
    border-color:#ac002b;
    color:#fff
}
.EdgeButton--danger:focus{
    box-shadow:0 0 0 2px #fff,0 0 0 4px #f6809a;
    color:#fff
}
.EdgeButton--danger:active{
    background-color:#ac002b;
    border-color:#ac002b;
    box-shadow:0 0 0 2px #fff,0 0 0 4px #e0245e;
    color:#fff
}
.EdgeButton--danger.disabled,.EdgeButton--danger[disabled],.EdgeButton--danger[disabled]:hover,.EdgeButton--danger[aria-disabled=true]{
    background-color:#ffb8c2;
    border-color:#ffb8c2;
    opacity:.3;
    -ms-filter:"alpha(opacity=30)";
    -ms-filter:"alpha(opacity=30)"
}
.EdgeButton--transparent{
    background-color:transparent;
    border:1px solid #fff;
    color:#fff
}
.EdgeButton--transparent:focus:before{
    box-shadow:0 0 0 2px rgba(255,255,255,0.5)
}
.EdgeButton--transparent:active:before{
    box-shadow:0 0 0 2px rgba(255,255,255,0.8)
}
.EdgeButton--transparent.disabled,.EdgeButton--transparent[disabled],.EdgeButton--transparent[disabled]:hover,.EdgeButton--transparent[aria-disabled=true]{
    opacity:.3;
    -ms-filter:"alpha(opacity=30)";
    -ms-filter:"alpha(opacity=30)"
}
.EdgeButton--transparent:focus:before,.EdgeButton--transparent:active:before,.EdgeButton--transparentDark:focus:before,.EdgeButton--transparentDark:active:before{
    background-color:transparent;
    border-radius:inherit;
    bottom:-2px;
    content:"";
    left:-2px;
    position:absolute;
    right:-2px;
    top:-2px;
    transition:.2s
}
.EdgeButton--transparentDark{
    background-color:rgba(0,0,0,0.8);
    border:1px solid rgba(255,255,255,0.8);
    color:#fff
}
.EdgeButton--transparentDark:hover{
    background-color:rgba(0,0,0,0.5);
    border-color:rgba(255,255,255,0.5);
    color:#fff
}
.EdgeButton--transparentDark:focus{
    box-shadow:none;
    color:#fff
}
.EdgeButton--transparentDark:active{
    background-color:rgba(0,0,0,0.5);
    border-color:rgba(255,255,255,0.5);
    box-shadow:none;
    color:#fff
}
.EdgeButton--transparentDark:focus:before{
    box-shadow:0 0 0 2px rgba(255,255,255,0.5)
}
.EdgeButton--transparentDark:active:before{
    box-shadow:0 0 0 2px rgba(255,255,255,0.8)
}
.EdgeButton--transparentDark.disabled,.EdgeButton--transparentDark[disabled],.EdgeButton--transparentDark[disabled]:hover,.EdgeButton--transparentDark[aria-disabled=true]{
    opacity:.3;
    -ms-filter:"alpha(opacity=30)";
    -ms-filter:"alpha(opacity=30)"
}
.EdgeButton--invertedPrimary{
    background-color:#fff;
    border:1px solid #fff;
    color:#1da1f2!important
}
.EdgeButton--invertedPrimary:hover,.EdgeButton--invertedPrimary:active{
    background-color:rgba(255,255,255,0.8);
    border-color:transparent
}
.EdgeButton--invertedPrimary:focus{
    box-shadow:0 0 0 2px #1da1f2,0 0 0 4px #71c9f8
}
.EdgeButton--invertedPrimary:active{
    box-shadow:0 0 0 2px #1da1f2,0 0 0 4px #fff
}
.EdgeButton--invertedPrimary.disabled,.EdgeButton--invertedPrimary[disabled],.EdgeButton--invertedPrimary[disabled]:hover,.EdgeButton--invertedPrimary[aria-disabled=true]{
    background-color:#eaf5fd;
    border-color:#eaf5fd;
    opacity:.3;
    -ms-filter:"alpha(opacity=30)";
    -ms-filter:"alpha(opacity=30)"
}
.EdgeButton--invertedSecondary{
    background-color:#1da1f2;
    border:1px solid #fff;
    color:#fff!important
}
.EdgeButton--invertedSecondary:hover{
    background-color:#71c9f8
}
.EdgeButton--invertedSecondary:focus{
    box-shadow:0 0 0 2px #1da1f2,0 0 0 4px #71c9f8
}
.EdgeButton--invertedSecondary:active{
    box-shadow:0 0 0 2px #1da1f2,0 0 0 4px #fff
}
.EdgeButton--invertedSecondary.disabled,.EdgeButton--invertedSecondary[disabled],.EdgeButton--invertedSecondary[disabled]:hover,.EdgeButton--invertedSecondary[aria-disabled=true]{
    opacity:.3;
    -ms-filter:"alpha(opacity=30)";
    -ms-filter:"alpha(opacity=30)"
}
.EdgeButton--invertedDanger{
    background-color:transparent;
    border:1px solid #e0245e;
    color:#e0245e
}
.EdgeButton--invertedDanger:hover{
    background-color:#ffb8c2;
    color:#e0245e
}
.EdgeButton--invertedDanger:focus{
    box-shadow:0 0 0 2px #fff,0 0 0 4px #ffb8c2;
    color:#e0245e;
    outline:0
}
.EdgeButton--invertedDanger:active{
    background-color:#ffb8c2;
    box-shadow:0 0 0 2px #fff,0 0 0 4px #e0245e;
    color:#e0245e
}
.EdgeButton--invertedDanger.disabled,.EdgeButton--invertedDanger[disabled],.EdgeButton--invertedDanger[disabled]:hover,.EdgeButton--invertedDanger[aria-disabled=true]{
    opacity:.3;
    -ms-filter:"alpha(opacity=30)";
    -ms-filter:"alpha(opacity=30)"
}
.EdgeButton.EdgeButton--icon{
    border-radius:50%;
    line-height:1;
    padding:0
}
.EdgeButton--icon.EdgeButton--small{
    font-size:14px;
    height:26px;
    width:26px
}
.EdgeButton--icon,.EdgeButton--icon.EdgeButton--medium{
    font-size:18px;
    height:38px;
    width:38px
}
.EdgeButton--icon.EdgeButton--large{
    font-size:21px;
    height:50px;
    width:50px
}
 body{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif
}
.PageHeader.Edge{
    font-weight:bold;
    color:#14171a
}
.ResponsiveLayout--Night .PageHeader.Edge{
    color:#fff
}
 .btn-link{
    padding:0;
    background-color:transparent;
    background-image:none;
    border:0;
    color:#2b7bb9;
    cursor:pointer;
    border-radius:0;
    box-shadow:none
}
.btn-link:hover,.btn-link:focus{
    outline:0;
    text-decoration:underline;
    box-shadow:none
}
 .form-inline{
    display:inline-block
}
 .user-profile-box{
    min-width:250px;
    font-size:14px;
    line-height:18px
}
.profile-image{
    display:inline-block;
    vertical-align:middle
}
.fullname{
    color:#14171a;
    font-size:14px;
    font-weight:bold
}
.screenname{
    color:#657786;
    font-size:14px
}
.user-name-box{
    display:inline-block;
    max-width:200px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    vertical-align:middle;
    margin-left:10px
}
 .Form-textbox.Edge-textbox{
    border-radius:18px;
    padding:7px 15px 5px
}
