@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
        body {
            font-family: 'Open Sans', sans-serif;
             margin:0
        }
html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    background:transparent
}
a:active,a:hover{
    outline:0
}
abbr[title]{
    border-bottom:1px dotted
}
b,strong{
    font-weight:bold
}
dfn{
    font-style:italic
}
h1{
    font-size:2em;
    margin:.67em 0
}
mark{
    background:#ff0;
    color:#000
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sup{
    top:-0.5em
}
sub{
    bottom:-0.25em
}
img{
    border:0
}
svg:not(:root){
    overflow:hidden
}
figure{
    margin:1em 40px
}
hr{
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0
}
pre{
    overflow:auto
}
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
button,input,optgroup,select,textarea{
    color:inherit;
    font:inherit;
    margin:0
}
button{
    overflow:visible
}
button,select{
    text-transform:none
}
button,html input[type="button"],input[type="reset"],input[type="submit"]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]{
    cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}
input{
    line-height:normal
}
input[type="checkbox"],input[type="radio"]{
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
    height:auto
}
input[type="search"]{
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
    -webkit-appearance:none
}
fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:.35em .625em .75em
}
legend{
    border:0;
    padding:0
}
textarea{
    overflow:auto
}
optgroup{
    font-weight:bold
}
table{
    border-collapse:collapse;
    border-spacing:0
}
td,th{
    padding:0
}
 .u-pullRight{
    float:right
}
.u-pullLeft{
    float:left
}
.caret{
    height:0;
    width:0;
    display:inline-block;
    border-top:4px solid #777;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    margin-left:2px;
    vertical-align:middle
}
.u-cf:before,.u-cf:after{
    content:" ";
    display:table
}
.u-cf:after{
    clear:both
}
.u-table{
    display:table!important
}
.u-tableCell{
    display:table-cell!important
}
.u-tableRow{
    display:table-row!important
}
.u-alignMiddle{
    vertical-align:middle!important
}
.u-hiddenVisually{
    position:absolute!important;
    overflow:hidden!important;
    width:1px!important;
    height:1px!important;
    padding:0!important;
    border:0!important;
    clip:rect(1px,1px,1px,1px)!important
}
.u-appLauncherFrame{
    display:none;
    visibility:hidden
}
.Icon--logo img{
   
    vertical-align:text-bottom
}
.Icon--close:before{
    content:'x';
    font-size:14px
}
.Push-2fa-button{
    margin-bottom:8px
}
 html{
    font-family:sans-serif;
    color:#292f33
}
a{
    color:#215f7a;
    text-decoration:none
}
p{
    font-size:13px;
    line-height:18px
}
ul{
    line-height:1.5
      font-size: 14px;
}
ol{
	  font-size: 13px;
}
 .PageHeader{
    font-size:28px;
    font-weight:200;
    color:#66757f;
    margin-bottom:36px
}
.PageHeader.is-errored{
    color:#dd2e44
}
@media screen and (max-width:590px){
    .PageHeader{
        font-size:21px;
        margin-bottom:18px
    }
}
 .PageContainer{
     border: 1px solid #caced0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f8f8f8;
    max-width: 675px;
    margin: 10px auto 20px;
    padding-left: 25px;
    padding-right: 25px;
}
 .footer{
     font-size:13px;
    max-width: 675px;
    margin: 10px auto 20px;
    
}
@media screen and (max-width:590px){
    .PageContainer{
        width:100%;
        padding:10px 0 0;
        margin:0
    }
}
 .Section{
    padding:36px 0;
    font-size: 13px;
}
.Section ul{
	    color: #215e78;
	    
}
.Section .is-errored{
    color:#c33
}
.Section-footer{
    padding-top:18px
}
.Section-footer a{
    font-size:13px
}
.Section-footer .Button{
    line-height:inherit;
    margin:15px 0
}
@media screen and (max-width:590px){
    .Section{
        padding:15px 12px 0
    }
}

.Form-radioList label{
    font-weight:normal;
    display:inline-block;
    margin-top:0
}
.Form-checkbox label{
    font-weight:normal
}
.Form-message .Icon{
    font-size:10px
}
@media screen and (max-width:590px){
    .Form-message{
        margin-top:5px;
        display:block
    }
    .Form input[type=email],.Form input[type=tel],.Form input[type=password],.Form input[type=text]{
        width:250px
    }
    .Form-select{
        width:264px
    }
}
.input-prepend,.input-append{
    font-size:0
}
.input-prepend .add-on,.input-append .add-on{
    display:inline-block;
    width:auto;
    height:18px;
    min-width:16px;
    padding:4px 5px;
    font-size:13px;
    font-weight:normal;
    line-height:18px;
    text-align:center;
    text-shadow:0 1px 0 #fff;
    vertical-align:middle;
    background-color:#f5f5f5;
    border:1px solid #ccc
}
.input-prepend .add-on{
    height:20px;
    line-height:20px;
    border-radius:3px 0 0 3px;
    margin:0 -28px 0 0;
    z-index:2;
    position:relative
}
.input-append .add-on{
    margin-left:-1px;
    border-radius:0 3px 3px 0
}
.input-prepend input{
    position:relative;
    font-size:13px;
    line-height:20px;
    vertical-align:middle;
    border-radius:0 3px 3px 0;
    padding-left:30px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    height:30px;
    z-index:0
}
.input-prepend input:focus{
    z-index:1
}
.add-on+input[type=text]{
    width:250px
}
@media screen and (max-width:300px){
    .add-on+input[type=text]{
        width:90%
    }
}
.Form-message.u-block{
    display:inline-block
}
 .TopNav{
    min-height:40px;
    box-shadow:0 0 3px #aaa;
    border-bottom:1px solid #e1e8ed;
    border-bottom:0 solid rgba(0,0,0,0.25);
    color:#66757f;
    font-size:14px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    position:relative;
    z-index:1;
    background-image: linear-gradient(#10708e, #024f67);
    background-image: -webkit-linear-gradient(#10708e, #024f67);
    padding: 0 15%;
}
.TopNav--container{
    max-width:670px;
    margin:0 auto;
    position:relative;
    top:1px
    padding-top: 10px;
    padding-bottom: 10px;
}
.TopNav--container>select,.TopNav--container>ul,.TopNav--container>.TopNav-title,.TopNav--container>.Icon--logo{

}
.TopNav .Icon--logo{
    margin-right: 6px;
    color: #ffffff;
    padding-top: 10px;
}
.TopNav ul{
    list-style-type:none;
    margin:0
}
.TopNav li{
    display:inline-block
}
.TopNav-title{
    font-size: 16px;
    color: #ffffff;
    padding-top: 15px;
}
.TopNav-languageSelector .Dropdown-menu{
    width:250px;
    font-size:12px
}
.TopNav-languageSelector select{
    width:125px
}
@media screen and (max-width:590px){
    .TopNav{
        padding:0 12px
    }
}

@media screen and (max-width:590px){
    .UserHeader{
        margin:-3px 0 12px
    }
    .UserHeader img{
        height:38px;
        width:38px
    }
    .UserHeader-details{
        margin-top:4px
    }
}

.footerLinks {
    border-top: 1px solid #e0e0e0;
    padding: 5px;
   
}
.footerLinks > a {
    margin-left: 17px;
}
.inner-header{
	border-bottom: 1px solid #c0c0c0;
    color: #4c4c4c;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
}