<div style="width: 96%;border: 1px solid #ddd;margin-bottom: 10px;padding: 10px;">
	<div style="line-height: 1.55em;display: inline-block;width: 100%;"> 
	    <div style="display: inline-block;width:100%;">#assignTo#</div> 
	</div>
</div>
