<div style="width: 96%;  border: 1px solid #ddd;padding: 10px;margin-bottom: 10px;">
	<div style="font-weight: bold; padding-bottom: 5px;border-bottom: 1px solid #eee;">#head#</div>
	<div style="width: 100%; margin-top: 10px;">
		#chat#
	</div>
</div>

