<div style="width: 96%;  border: 1px solid #ddd;padding: 10px;margin-bottom: 10px;">
	<div style="font-weight: bold; padding-bottom: 5px;border-bottom: 1px solid #eee;">Check list</div>
	<div style="width: 95%; margin-top: 10px;">
		#checklist#
	</div>
</div>

