<div style="width: 96%;  border: 1px solid #ddd;padding: 10px;margin-bottom: 10px;">
	<div style="font-weight: bold; padding-bottom: 5px;border-bottom: 1px solid #eee;">Description</div>
	<div style="margin-top: 10px;">#details#</div>
</div>

