<div style="width:95%;margin-bottom: 10px;font-family:'Open Sans',sans-serif;">
	<table width='100%'>
		<tr>
			<td colspan='1' width= '24px' style="padding-top:5px; vertical-align: middle;">
				<img alt="" src="#itemIcon#">
			</td>
			<td colspan='30' valign='top' style="font-weight:bold;font-size:1.2em;">
				#itemname#
			</td>
		</tr>
	</table>
</div>
<div style="background: #fcfcfc !important;box-shadow: 1px 2px 6px #e8e8e8 !important; -webkit-box-shadow: 1px 2px 6px #e8e8e8 !important;  padding: 0px 10px 10px 10px !important; border: 1px solid #ededed !important; margin-bottom:20px !important;font-family:'Open Sans',sans-serif;">
	<div style="font-weight: bold; padding-bottom: 5px;border-bottom: 1px solid #eee;">Description</div>
	<div style="display: block !important;">
		<div style="margin-top: 10px;">#details#</div>
	</div>
</div>

