<div style="width:95%;margin-bottom: 10px;font-family:'Open Sans',sans-serif;">
	<table width='100%'>
		<tr>
			<td colspan='1' width= '24px' style="padding-top:3px; vertical-align: top;">
				<img alt="" src="#itemIcon#">
			</td>
			<td colspan='30' valign='top' style="font-weight:bold;font-size:1.2em;">
				#itemname#
			</td>
		</tr>
	</table>
</div>
<div style="padding-top: 0px;padding-left: 10px;padding-right: 10px;padding-bottom: 10px; border: 1px solid #ededed !important; margin-bottom:20px !important;font-family:'Open Sans',sans-serif;">	
	<div style="font-weight: bold; padding-bottom: 5px;border-bottom: 1px solid #eee;">Description</div>
	<div style="display: block !important;">
		<div style="margin-top: 10px;">#details#</div>
	</div>
</div>

