<div style="background: #fcfcfc !important;box-shadow: 1px 2px 6px #e8e8e8 !important; -webkit-box-shadow: 1px 2px 6px #e8e8e8 !important;  padding: 0px 10px 10px 10px !important; border: 1px solid #ededed !important; margin-bottom:20px !important;font-family:'Open Sans',sans-serif;">
	<div style="border-bottom: 1px solid #eef6ee !important;">
		<div style="padding-bottom: 5px !important; padding-top: 5px !important;">
			<span>#name#</span>
		</div>
	</div>
	<div style="display: block !important;">
		#myitems#
	</div>
</div>