<div style="padding-top: 0px;padding-left: 10px;padding-right: 10px;padding-bottom: 10px; border: 1px solid #ededed !important; margin-bottom:20px !important;font-family:'Open Sans',sans-serif;">
	<div style="border-bottom: 1px solid #eef6ee !important;">
		<div style="padding-bottom: 5px !important; padding-top: 5px !important;">
			<span>#name#</span>
		</div>
	</div>
	<div style="display: block !important;">
		#myitems#
	</div>
</div>