<div style="width:100%;margin-bottom: 0px;font-weight: bold;font-size: 1.2em !important;display: inline-block;vertical-align: top;text-align: left;white-space: normal;">
	<div style="display: inline-block;padding-right: 4px;vertical-align: middle;line-height: inherit;margin-top: 3px;">
    	<img style="width:20px;vertical-align: middle;display: inline-block;line-height: inherit;" alt="" src="#itemIcon#">
    </div>
	<div style="width: 78%;display: inline-block;vertical-align: middle;text-align: left;white-space: normal;">
		#itemname#
	</div>
</div>
