<div style="width: 96%;border: 1px solid #ddd;margin-bottom: 10px;padding: 10px;">
	<div style="line-height: 1.55em;display: #statusDisplay#;width: 100%;">
		<div style="display: inline;padding-right: 20px;">Status: #itemstatus#</div> 
	    <div style="display: inline;padding-right: 20px;">#priority#</div> 
	    <div style="display: inline-block;padding-right: 20px;">Duration: #duration#</div> 
	     
	</div>
	 <div style="line-height: 1.55em;display: #costDisplay#;width: 100%;">
	    	<div style="display: inline;">#costQuantity#</div> 
	 </div> 
</div>
