	<tr style="width:100%;margin-left: 0px !important; padding-bottom: 0px !important;display:inline-block;font-family:'Open Sans',sans-serif;" >
		<td colspan='1' valign='top'>#itemIcon#</td>
		<td colspan='30'>#itemName#</td>
	</tr>